<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:text-indent="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>隐私协议</title>
</head>
<body>
<h1 style="text-align: center">隐私协议</h1>
<p class="text_p">
    福建12333公共服务平台APP（以下简称“本应用”）是由福建省人力资源和社会保障厅主办，是以人为中心的服务理念打造面向未来的“智慧人社平台”，涵盖“养老保险”、“医疗保险”、“工伤保险”、“社保卡挂失”、“制卡进度查询”等便民服务
</p>
<p class="text_p" >   鉴于Internet网络的特性，本应用会与您直接或间接的形成互动关系，故特此说明本应用对您个人信息所采取的收集、使用和保护政策，请您务必仔细阅读：</p>
<p class="text_h">一、搜集、分拣信</p>
<p class="text_p">当您浏览、阅读或下载本应用的信息时，应用会自动搜集和分拣到您的信息（互联网域名、用户使用的浏览器和操作系统类型、访问时间、访问页面），这些信息会促使我们改进应用的管理和服务，不会被用来确定您的身份</p>
<p class="text_h">二、个人资料</p>
<p class="text_p">当您在本应用进行用户注册登记、定制服务、参加访谈、调查等有关活动时，在您的同意并确认下，本应用会通过注册表格、订单等形式要求您提供一些个人资料。包括但不限于：姓名、性别、身份证号码、电话、电子邮箱地址、职业、教育程度等。用户必须保证提供的资料真实、准确、有效和完整，并随时更新登记资料，否则，本应用有权取消用户登记或拒绝提供相应的服务</p>
<p class="text_p">在未经您同意和确认之前，除法律、法规和规章规定之外，本应用保证不会把这些个人信息提供给任何私人公司或个人，仅会根据需要与政府有关部门共同使用。</p>
<p class="text_h">三、信息使用</p>
<p class="text_p">用户向本应用提供的个人信息将可能用于下列用途：</p>
<p class="text_p">（一）核实用户身份，并提供相应的服务；</p>
<p class="text_p">（二）通过发送电子邮件或以其他方式，告知用户相关信息；</p>
<p class="text_p">（三）执行用户的指示、回应用户或以该用户名义提出的查询、建议或举报内容；</p>
<p class="text_p">（四）用于用户在提供信息时特别指定的目的，例如参与民意征集、嘉宾访谈、发表评论等；</p>
<p class="text_p">（五）用于编制有关应用使用的流量统计数据；</p>
<p class="text_p">（六）其他促使应用管理或服务改进之用途。</p>
<p class="text_h">四、信息安全</p>
<p class="text_p">本应用将采用相应的技术措施和严格的管理制度，对您所提供的个人资料进行严格的管理和保护，防止个人资料丢失、被盗用或遭窜改。为保护个人信息，必要时本应用会委托专业技术人员对所述资料进行相应处理，并将处理安排及时通知您，若您未在通知规定的时间内主动明示反对，本应用将推定您已同意。但处理过后，您仍然有权请求停止电脑处理。如因不可抗力或计算机病毒感染、黑客攻击等特殊原因，导致所存储的用户信息被破坏、泄密并受到损失的，本应用将采取必要措施尽力减少用户的损失，但本应用对此不承担任何责任。</p>
<p class="text_h">五、用户权利</p>
<p class="text_p">在本应用上，您可以对自己拥有的个人资料享有随时查看、更新、补充、修改、请求删除及请求停止电脑处理及利用的权利。您可以通过电子邮件提出请求，经本应用核实后，本应用会为您提供相关服务</p>
<p class="text_h">六、限制利用原则</p>
<p class="text_p">本应用只有在下列条件下，方对收集的个人资料进行必要范围以外的使用：</p>
<p class="text_p">（一）已取得您的书面同意</p>
<p class="text_p">（二）为免除您在生命、身体或财产方面遇到的急迫危险；</p>
<p class="text_p">（三）为防止他人权益遭受重大危害；</p>
<p class="text_p">（四）为增进公共利益，且无损于您的重大利益。</p>
<p class="text_p">（五）应司法机关的要求。</p>
<p class="text_h">七、网上调查活动</p>
<p class="text_p">为了促进城市建设和社会发展，进一步提升政府服务质量和效率，本应用会不定期地举办请您参加的网上调查活动。在您参与当中，您公布的任何信息都会成为公开的信息。因此，我们提醒并请您慎重考虑是否有必要在这些活动中公开您的个人信息。</p>
<p class="text_h">八、未成年人隐私权的保护</p>
<p class="text_p">（一）本应用通过计算机技术对未成年人的个人资料给予保护。未成年人参加网上活动应事先得到家长或其法定监护人（以下简称监护人）的可经查证的同意；</p>
<p class="text_p">（二）监护人应承担保护未成年人在网络环境下的隐私权的首要责任</p>
<p class="text_p">（三）本应用认为有必要收集未成年人的个人资料时，仅为回复未成人特定要求的目的，一经回复完毕即从记录中删除，不保留或使用这些资料，并保证不会要求未成年人提供额外的个人资料，作为允许其参与网上活动的条件；</p>
<p class="text_p">（四）未经监护人的同意，本应用不会使用未成年人的个人资料，亦不会向任何第三方披露或传送。本应用若收集监护人或未成年人的姓名或其它网络通讯资料，仅是为满足监护人的要求；若监护人在一定时间放弃这一要求时，本应用会主动从记录中删除此类资料；</p>
<p class="text_p">（五）监护人有权拒绝本应用与其子女或被监护人做进一步的联络，但必须告知本应用。</p>
<p class="text_h">九、免责声明</p>
<p class="text_p">下列情况时本应用毋需承担任何责任：</p>
<p class="text_p">（一）按照本应用制订的规则和程序，本应用有充分的理由相信已经获得用户的授权；</p>
<p class="text_p">（二）依照法律、法规或规章的规定，或基于公共安全目的等，本应用必须提供相关信息的；</p>
<p class="text_p">（三）由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露；</p>
<p class="text_p">（四）任何黑客攻击、计算机病毒侵入或发作、政府部门管制和其他不可抗力等造成的个人资料泄露、丢失、被盗用或被窜改等；</p>
<p class="text_p">（五）因与本应用链接的其它应用造成个人资料泄露及由此而导致的任何法律争议和后果；</p>
<p class="text_p">（六）其他为维护本应用权利及相关权利人权利之情形。</p>
<p class="text_p">本应用保护隐私安全声明的修改及更新权均属于福建省人力资源和社会保障厅。</p>

</body>
<style type="text/css">
    p {text-indent: 2em;
    font-size: 14px}
    .text_h{
        font-weight: bold;
    }
</style>
</html>
